.mainIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .titulo {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .consulta {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .formConsulta {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .inputId {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          width: 100%;
        }
      }
    }
    #response {
      width: 100%;
      .productDatails {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        div {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                padding-left: 10px;
            }
        }
      }
    }
  }
}
