<main class='main403'>
  <h1>403</h1>
  <div id='error403'><p>>
      <span>ERROR CODE</span>: "<i>HTTP 403 Forbidden</i>"
    </p>
    <p>>
      <span>ERROR DESCRIPTION</span>: "<i>Access Denied. You Do Not Have The
        Permission To Access This Page On This Server</i>"
    </p>
    <p>>
      <span>ERROR CAUSED BY</span>: [<i><b>{{error}}...</b></i>]
    </p>
    <p>>
      <span>SOME PAGES ON THIS SERVER THAT YOU DO HAVE PERMISSION TO ACCESS</span>:
      [
      <a href='/products/1'>Home</a>,
      <a href='/apidocs'>Home</a>,
      <a href='/contact'>Contact Us</a>... ]
    </p>
    <p>>
      <span>HAVE A NICE DAY</span>
    </p>
  </div>
</main>
<script type='module' src='/js/403.js'></script>