<main class="main404">
  <div class="gif"> 
    <h1 class="errorNumber">404</h1>
  </div>
  <h3 class="errorMessage">Ooops page Not Found</h3>
  <a href="/products/1" class="box__button">Home</a>
</main>