<div class="mainHome">
  <h2>Chat con Websocket</h2>
   <div>
      <input id="chatBox" type="text"/>
      <button id="chatSend">Enviar</button>
   </div>
   <div>
    <div id="massajesChat"></div>
   </div>
</div>
<script type="module" src="js/chatSocket.js"></script>