<main>
  <div class="mainHome">
    <h2>Gestión de Productos con Websockets</h2>
    <div class="mainPureba">
        {{> tabs}}
        {{> table}}
  </div>
</main>
<script type="module" src="js/index.js"></script>