<main>
  <div class="mainHome">
    {{> user}}
    <h2>Gestión de Usuarios con Websockets</h2>
    <div class="mainPureba">
        {{> tabsUsers}}
        {{> tableUsers}}
  </div>
</main>
<script type="module" src="/js/user.js"></script>