<main>
  <div class="mainHome">
    <h2>Gestión de Carritos con Websockets</h2>
    <div class="mainPureba">
        {{> tabsCarts}}
        {{> tableCarts}}
  </div>
</main>
<script type="module" src="js/carts.js"></script>