<div class='footer'>
  <div class='subscribe'>
    <h2 class='subscribeTitle'>Recibí todas las ofertas..</h2>
    <p class='subscribeText'>
      ¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a
      disfrutarlas!
    </p>
    <form class='subscribeForm' id='subscribeForm'>
      <button class='subscribeButton' type='submit'><img
          class='love'
          src='https://cdn-icons-png.flaticon.com/512/48/48974.png?w=740&t=st=1681832071~exp=1681832671~hmac=e140682aed2184e0652ba559185586d6a731bfd6a567e8cedc9125d52597cf5a'
          alt='Enamorado'
        /><span>Suscribirme</span></button>
    </form>
  </div>
  <div class='redes-card'>
    <div class='redes'>
      <p>Seguinos en redes</p>
      <div class='iconRedes'>
        <ion-icon name='logo-instagram'></ion-icon>
        <ion-icon name='logo-twitter'></ion-icon>
        <ion-icon name='logo-facebook'></ion-icon>
      </div>
    </div>
    <div class='cardFooter'>
      <p>Aceptamos todos los medios de pago.</p>
      <div class='footer-tarjetas'>
        <img
          class='visaCard'
          src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/800px-Visa_Inc._logo.svg.png'
          alt='Visa'
        />
        <img
          class='mastercardCard'
          src='https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg'
          alt='Mastercard'
        />
        <img
          class='mercadoPago'
          src='https://1000marcas.net/wp-content/uploads/2023/01/Mercado-Pago-Logo.png'
          alt='Mercado Pago'
        />
      </div>
    </div>
  </div>

  <div class='copy'>
    <span class='footerCopy'>&copy;Copyright Backen NodeJS - 2023</span>
    <p class='footerCopy'>Términos y Condiciones</p>
    <span class='footerDisen'>
      <a href='https://pablo220288.github.io/Portafolio_2022/' class='pablo'>
        Pablo Hernandez
      </a>
    </span>
  </div>
</div>
<script type='module' src='/js/footer.js'></script>