<div class="contentTable">
    <table class="tableCart">
      <thead>
        <tr>
          <th id="itemId">Id Carrito</th>
          <th id="itemQuantity">Productos</th>
        </tr>
      </thead>
      <tbody id="cartsTableContent">
      </tbody>
    </table>
  </div>
</div>