<div class="contentTable">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Role</th>
          <th>Last Connection</th>
        </tr>
      </thead>
      <tbody id="usersTableContent">
      </tbody>
    </table>
  </div>
</div>