<div class="containerTabs">
  <div class="tabsSelector">
    <label for="tab1">GET</label>
    <label for="tab2">POST</label>
    <label for="tab3">PUT</label>
    <label for="tab4">DELETE</label>
  </div>
  <div class="tabsSelected">
    <input type="radio" name="tabs" id="tab1" checked/>
    <div class="tabs1">
      <h3>Consulta</h3>
      <form class="formTabs" id="formConsulta">
        <div class="inputId">
          <label for="idProducto">Id Producto</label>
          <input type="text" id="idProducto" />
        </div>
        <div>
          <button>Consultar</button>
        </div>
      </form>
    </div>
    <input type="radio" name="tabs" id="tab2"/>
    <div class="tabs2">
      <h3>Agregar</h3>
      <form class="formTabs" id="formPoste">
        <div class="inputId">
          <label for="idProducto">Id Producto</label>
          <input type="text" id="idProducto" />
        </div>
        <div>
          <button>Consultar</button>
        </div>
      </form>
    </div>
    <input type="radio" name="tabs" id="tab3"/>
    <div class="tabs3">
      <h3>Actualizar</h3>
      <form class="formTabs" id="formPut">
        <div class="inputId">
          <label for="idProducto">Id Producto</label>
          <input type="text" id="idProducto" />
        </div>
        <div>
          <button>Consultar</button>
        </div>
      </form>
    </div>
    <input type="radio" name="tabs" id="tab4"/>
    <div class="tabs4">
      <h3>Eliminar</h3>
      <form class="formTabs" id="formDelete">
        <div class="inputId">
          <label for="idProducto">Id Producto</label>
          <input type="text" id="productDelete" />
        </div>
        <div>
          <button>Consultar</button>
        </div>
      </form>
    </div>
  </div>
</div>