<div class="navigation">
  <div class="menuToggle">
    <div class="userIcon">
      <ion-icon name="person-outline"></ion-icon>
    </div>
    <span class="emailUser">{{nameUser}}</span>
  </div>
  <div class="menu">
    <ul>
      <li style="--i: 0.1s">
        <a href="#"><ion-icon name="shield-checkmark"></ion-icon></a>
        <span>{{rol}}</span>
      </li>
      <li style="--i: 0.2s">
        <a href="#"><ion-icon name="settings-outline"></ion-icon></a>
        <span>Setting</span>
    </li>
      <li style="--i: 0.3s">
        <a href="http://localhost:8080/api/session/logout"><ion-icon name="log-out-outline"></ion-icon></a>
        <span>Logout</span>
    </li>
    </ul>
  </div>
</div>
<script type="module" src="/js/user.js"></script>