.nav {
  position: fixed;
  top: 2px;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.555);
  transition: 0.5s;
  .navContainer {
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    .logo {
      display: flex;
      align-items: center;
      -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: 10s;
      img {
        width: 50px;
      }
    }
    .menu {
      display: none;
      align-items: center;
      justify-content: flex-end;
      margin: 0 -10px;
      a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        position: relative;
        span {
          position: absolute;
          background: $colorIndex;
          width: 0;
          height: 3px;
          bottom: -3px;
          left: 0;
          border-radius: 5px;
          transition: all 300ms ease-out;
        }
        &:hover span {
          width: 100%;
        }
        .shop-nav {
          font-size: 1.4rem;
          vertical-align: middle;
          transition: all 300ms ease-out;
          &:hover {
            color: $colorIndex;
          }
        }
        .cant-carrito-total {
          opacity: 0;
          position: absolute;
          top: -5px;
          left: 10px;
          width: 17px;
          height: 17px;
          border-radius: 50% 50%;
          background-color: $colorIndex;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 0.7rem;
          }
        }
        .cant-carrito-total-show {
          opacity: 1;
        }
      }
      .active span {
        width: 100%;
      }
    }
    .burger {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        position: relative;
        color: #fff;
        font-size: 1.6rem;
        transition: all 300ms ease-out;
        &:hover {
          color: $colorIndex;
        }
        .cant-carrito-total-xs {
          opacity: 0;
          position: absolute;
          top: -2px;
          left: 10px;
          width: 17px;
          height: 17px;
          border-radius: 50% 50%;
          background-color: $colorIndex;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 0.8rem;
          }
        }
        .cant-carrito-total-show {
          opacity: 1;
        }
      }
      .hamburger {
        display: block;
        position: relative;
        z-index: 1;
        user-select: none;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        span {
          display: block;
          width: 25px;
          height: 3px;
          margin-bottom: 5px;
          position: relative;
          background-color: #fff;
          border-radius: 6px;
          z-index: 1;
          transform-origin: 0 0;
          transition: 0.4s;
        }
        &:hover span:nth-child(2) {
          transform: translateX(6px);
          border-radius: 6px;
          background-color: $colorIndex;
        }
      }
    }
    .is-active {
      &:hover span {
        background-color: $colorIndex;
      }
      span {
        &:nth-child(1) {
          transform: translate(0px, 0px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(15px);
        }
        &:nth-child(3) {
          transform: translate(-2px, 1px) rotate(-45deg);
        }
      }
    }
  }
}
.nav-mobile {
  opacity: 1;
  .nav-mobile-container {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 70px;
    width: 250px;
    min-height: 100vh;
    z-index: 98;
    background-color: #000000;
    transition: 0.7s;
    a {
      display: block;
      text-align: center;
      padding-bottom: 5px;
      margin: 0 20px 15px 0;
      color: #fff;
      text-decoration: none;
      overflow: hidden;
      transition: 0.5s;
      position: relative;
      p {
        position: relative;
        z-index: 2;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        border-radius: 5px;
        background-color: $colorIndex;
        z-index: 1;
        transition: 0.5s;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
  .is-active {
    right: 0;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  }
}
.nav-scroll {
  top: 0;
  background: #000000;
  box-shadow: 0px 2px 5px $colorIndex;
}
.modal-carrito {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #00000075;
  display: flex;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  .modal-container {
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
    overflow-x: hidden;
    position: relative;
    transform: var(--transform);
    transition: var(--transition);
    .modal-title {
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 15px;
    }
    .close-carrito {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .conten-carrito {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 15px;
      max-height: 246px;
      overflow: scroll;
      text-transform: capitalize;
      .cardPrevius {
        width: 100%;
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
    }
    .total-carrito {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      border-top: 1px solid;
      padding: 10px 5px;
      .total-text {
        font-weight: 500;
        font-style: italic;
      }
      #total_carrito {
        font-weight: 700;
      }
    }
    .buttons-carrito {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .vaciar,
      .comprar {
        border: none;
        background: none;
        width: 80px;
        padding: 0.2rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .purchaser-link {
          all: unset;
        }
        .button-icon {
          font-size: 2rem;
        }
        .button-text {
          opacity: 0;
          font-size: 1.1rem;
          font-weight: 600;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-color: #ffffff75;
          text-shadow: 0 0 10px #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease;
        }
        &:hover .button-text {
          opacity: 1;
        }
      }
    }
  }
}
.cardPreviusItems {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  .img-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    .imgCartPrevius {
      width: 80px;
    }
    .infoPrevius {
      justify-self: flex-start;
      .infoTitle {
        font-weight: bold;
      }
      .infoCant {
        font-size: 0.8rem;
        color: #6c6c6c;
      }
      .infoFin {
        display: flex;
        align-items: center;
        gap: 5px;
        .fin {
          font-size: 0.8rem;
        }
        .visa {
          width: 30px;
        }
      }
    }
  }
  .delete-price {
    width: 90px;
    display: flex;
    justify-content: space-between;
    .cartDelete {
      position: relative;
      width: 25px;
      height: 25px;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        color: $colorIndex;
      }
      .icon {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%);
        .lid {
          position: absolute;
          z-index: 2;
          right: 50%;
          top: 23%;
          width: 70%;
          height: 10%;
          background-color: #6c6c6c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          transform: translateX(50%);
          transform-origin: left bottom;
          transition: transform 0.3s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            right: 50%;
            bottom: 100%;
            width: 30%;
            height: 70%;
            border: 2px solid #6c6c6c;
            transform: translateX(50%) translateY(2px);
          }
        }
        &:hover .lid {
          transform: translateX(50%) rotate(-35deg);
        }
        .can {
          position: absolute;
          z-index: 2;
          left: 50%;
          bottom: 0%;
          width: 60%;
          height: 60%;
          background-color: #6c6c6c;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transform: translateX(-50%);
          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 20%;
            bottom: 20%;
            width: 20%;
            background-color: #fff;
          }
          &::before {
            left: 20%;
          }
          &::after {
            left: 60%;
          }
        }
        .trash {
          position: absolute;
          z-index: 1;
          left: 100%;
          top: 0;
          width: 20%;
          height: 20%;
          border-radius: 25%;
          background-color: #6c6c6c;
          opacity: 0;
        }
      }
    }
  }
}
.price-conten {
  display: flex;
  font-weight: bold;
  gap: 1px;
  p {
    font-size: 0.8rem;
  }
  .price {
    font-size: 1rem;
    font-weight: bold;
  }
}
.modal_show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: traslateY(0);
  --transition: transform 0.8s 0.8s;
}
.clicked .icon .lid {
  transition-delay: 0.5s;
  transform: translateX(50%) rotate(0deg);
}
.clicked .icon .trash {
  animation: trash 0.5s forwards linear;
}
.animationNav {
  .navContainer {
    .logo {
      -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        0.5s both;
      animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
      animation-delay: 0.5s;
    }
    .menu {
      a:nth-child(1){
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.4s;
      }
      a:nth-child(2){
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.6s;
      }
      a:nth-child(3){
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.8s;
      }
      a:nth-child(4){
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 1s;
      }
    }
    .burger {
      a {
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.4s;
      }
      .hamburger {
        -webkit-animation: slide-in-right 1s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.5s;
      }
    }
  }
}
@media (min-width: 768px) {
  .nav .navContainer {
    .burger {
      display: none;
    }
    .menu {
      display: flex;
    }
  }
  .nav-mobile {
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes trash {
  0% {
    left: 100%;
    top: 0;
    transform: rotate(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    left: 40%;
    top: 10%;
  }
  100% {
    left: 40%;
    top: 50%;
    transform: rotate(-180deg);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
